header {
    background-color: #b7b3a1;
    height: 50px;
    width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 4px 4px;
    position: fixed;
    top: 0;
}

.header--icon {
    width: 30px;
    height: 30px;
}

.header--title {
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    margin: 0 7px;
}