.app {
  font-family: "Inter", sans-serif;
  width: 550px;
  margin: auto;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
  /* border-radius: 6px; */
}

.main--container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: 50px 0;
  background-color: #fff;
}